@inherits LayoutComponentBase

<div class="flex flex-col min-h-screen bg-white font-sans text-neutral-900">
    <cima.Blazor.Client.Components.Public.Navbar />

    <main class="flex-grow">
        @Body
    </main>

    <cima.Blazor.Client.Components.Public.Footer />
</div>
