@* Tooltip con animación *@
@inject IJSRuntime JS

<div class="cima-tooltip @Class">
    @ChildContent
    <div class="cima-tooltip-content" role="tooltip">
        @Text
    </div>
</div>

@code {
    [Parameter] public string Text { get; set; } = "";
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string? Class { get; set; }
    [Parameter] public TooltipPosition Position { get; set; } = TooltipPosition.Top;

    public enum TooltipPosition
    {
        Top,
        Bottom,
        Left,
        Right
    }
}
