@page "/examples/listing-card"
@using Microsoft.AspNetCore.Authorization
@using cima.Blazor.Client.Components.Public
@rendermode InteractiveAuto
@attribute [AllowAnonymous]


<PageTitle>Preview de ListingCard</PageTitle>

<h3>Preview de ListingCard</h3>

<div class="container my-4">
    <ListingCard />
</div>